.navbar-default {
  background-color: #ffffff;
  border-color: #d0d0d0;
  border:none;
}
.navbar-default .navbar-brand {
  color: #116000;
  padding: 0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #0c4500;
}
.navbar-default .navbar-text {
  color: #116000;
}
.navbar-default .navbar-nav > li > a {
  color: #116000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0c4500;
  border: 1px solid #116000;
  border-top-style: none;
  border-bottom-style: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0c4500;
  background-color: #eee;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #0c4500;
  background-color: #eee;
}
.navbar-default .navbar-toggle {
  border-color: #eee;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #eee;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #116000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #116000;
}
.navbar-default .navbar-link {
  color: #116000;
}
.navbar-default .navbar-link:hover {
  color: #0c4500;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #116000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0c4500;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0c4500;
    background-color: #eee;
  }
}
.btn-primary {
    background-color: #116000;
    margin-bottom: 50px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary  {
    background-color:#113E00;
}

.glyphicon {
    padding-right: 5px;
}

.jumbotron:hover{
    background: #116000;
}

.jumbotron:hover h1, .jumbotron:hover p{
    color:white;
}