h1 {
    text-align: center;
}

body {
 margin: 0px;   
}

ul {
  list-style-type: none;
    padding: 0;
}


footer {
   left:0px;
   bottom:0px;
   width:100%;
   height:150px;
   background:#116000;
}
footer ul {
    margin: 0;
    overflow: hidden;
    background-color: #116000;
}



.jumbotron p {
    text-align: center;
}
.blurb {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
    -webkit-filter: grayscale(100%);
}

.blurb:hover {
   -webkit-filter: grayscale(0%);
}

